*{
    font-family: Arial, Helvetica, sans-serif;
}
.middle{
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
}
.middle_top{
    width: 100%;
    height: 180px;
    background-position: center;
    background-size: 1550px;
}
.title{
    text-align: center;
}
.title_big{
    padding: 15px 15px 20px 15px;
}
.title_small .home_page , .contact,#daucach{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding-right: 5px;
    padding-left: 5px;
}
.middle_bottom{
    width: 100%;
    height: 100%;
    padding-top: 60px;
    display: flex;
}
.left{
    width: 50%;
    height: 100%;
    padding: 0 10px 0px 50px;
}
.right{
    width: 50%;
    height: 100%;
    padding: 0px 0px 0px 35px;
}
.middle_logo img{
    width: 160px;
    height: 50px;
    padding-top: 50px;
}
.row_top{
    display: flex;
    padding-top: 30px;
    margin-left: 7%;
}
.bottom_left1{
    width: 40%;
    height: 210px;
    padding-left: 30px;
}
.bottom_cot1{
    padding-bottom: 15px;
    display: flex;
}
.bottom_left1 .imger_cot1{
    color:  rgb(212, 1, 1);
    width: 15px;
    margin-right: 10px;
}
.bottom_cot1 .fa-lg {
    font-size: 1.33333333em;
    line-height: 1.75em;
    vertical-align: -15%;
}
.bottom_left1 .bottom_sodienthoai{
    padding-bottom: 10px;
}
.bottom_left1 .bottom_sodienthoai .bottom_a{
    color:#777777;
    font-size: 16px;
}
.bottom_left1 .bottom_dchi span{
    color:#777777;
    font-size: 16px;
}
.bottom_left1 .bottom_cot1 .bottom_a{
    text-decoration: none;
    color:#777777;
    font-size: 16px;
}
.bottom_a:hover{
    color:  rgba(255, 0, 0, 0.507);
}
.bottom_left1 .bottom_skype{
    padding-top: 5px;
}
.watch_title{
    text-align: center;
    padding-right: 25%;
}
.watch_title h3{
    margin-top: 0px;
    margin-bottom: 10px;
    color: #777777;
    font-size: 22px;
}
.watch_title img{
    height: 24px;
    width: 22px;
    margin-top: 13px;
}
.from{
    margin-top: 20px;
    margin-left: 5%;
}
.from_right{
    display: flex;
}
.from_left{
    display: flex;
}
.from_row{
    padding: 5px;
}
.from_row input{
    width: 225px;
    height: 36px;
    padding: 0 11px 0 11px;
}
.from_loinhan{
    padding: 5px;
}
.from_loinhan textarea{
    width: 490px;
    height: 120px;
    padding: 11px 11px 0 11px;
}
.form_center{
    margin-left: 20%;
}
.form_center .form_lien_he{
    width: 230px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #555555;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 30px;
}
.form_center .form_lien_he:hover{
    background-color: #dd3333;
}
